@import './colors';
@import './animations';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html{
    font-size: 62.5%;
    overflow: hidden !important;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    font-family: "Space Mono", monospace;
    font-size: 1.6rem;
    height: 100vh;
    overflow: hidden !important;
    
}
body.animating {
  overflow: hidden;
}
.Info{
  position: fixed;
  top:1em;
  right: 1em;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.Info:hover {
  transform: scale(1.2);
}
.PopUp{
  background-color: $main-color;
  z-index: 100000 !important;
  position: absolute;
  display: none;
  z-index: 100;
  justify-content: center;
  align-items: center;
  border: 1px solid $secondary-color;
  width: 40em;
  height: 30em;
  padding-left: 1em;
  padding-right: 1em;
  p {
    color: white;
  }
  
}
.close {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close:hover {
  transform: scale(1.2);
}
.stopka {
  position: fixed;
  bottom: 0em;
   left: 0;
  right: 0;
  width: fit-content;  /* dopasowanie do treści */
  margin: 0 auto;
  color: white;
  padding: 1em;
  font-size: .8em;
  span{
    color: blue;
    font-size: 1.2em;
    cursor:pointer;
  }
  span:hover{
    text-decoration: underline;
  }
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 20em;
    height: 20em;
    border: 1px solid $secondary-color;
    border-radius: 1px;
    z-index: 1;
    animation: none;

    &-Firstquestion {
      overflow: hidden !important;
      display: none;
      position: absolute;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: 30em;
      height: 30em;
      color: $secondary-color;
      border: 1px solid $secondary-color;
      border-radius: 1px;
      animation: FirstQuestion 2s ease-in-out;
      background: transparent;
      z-index: 10;
    }

    &-End {
      overflow: hidden !important;
      display: none;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: 35em;
      height: 40em;
      color: $secondary-color;
      border: 1px solid $secondary-color;
      border-radius: 1px;
      animation: LastQuestion 2s ease-in-out forwards;
      background: transparent;
      z-index: 200;
      button {
        font-size: 1.2em;
        height:2.8em !important;
        width: 50%;
        margin: .5em;
        justify-content: center;
        display: none;
        opacity: 0;
        //animation: opacityoff 2s ease-in-out forwards;
      }
    }
}
.oncemore {
  margin-bottom: 1em !important;
}
h1{
    color: $secondary-color;
    font-size: 2.7em;
}

button{
  font-family: "Space Mono", monospace;
  font-weight: 800;
  background-color: $secondary-color;
  color: $main-color;
  font-size: 2em;
  padding: .1em .5em .1em .5em;
  cursor: pointer;
  border: 1px solid $secondary-color;
  z-index: 10000;
  display: flex;
  align-items: center;

  i{
    padding-left: .1em;
  }
}
button:hover{
  scale: 1.02;
  transition: scale 1s ease-out;
}

.RANGEwrapper{
  position: absolute;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 20em;
  height: 20em;
  border: 1px solid $secondary-color;
  border-radius: 1px;
  z-index: 10;
  display: none;
  animation: rangee 2s ease-in-out forwards;
}
.chooseRange {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.range {
  height: 100%;
  color: $secondary-color;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  overflow: hidden;  remove this line*/
    
    /* New additions */
    background: #ccc;
    width: 20em;
  }
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 20px;
    border-radius: .1em;
    background-color: #01411C;
    border: none;
  
    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
  }
  button{
    font-size: 1.5em;
  }
}

.Firstquestion{
  overflow: hidden !important;
  max-width: 40em;
  max-height: 40em;
  .text{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    animation: opacityoff 2s forwards;
    animation-delay: 2s;
    justify-content: space-around;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  p {
    font-size: 1.2em;
    padding: .4em;
    margin: .8em;
    animation-delay: 2.5s;
    cursor: pointer;
  }
  p:hover{
    text-decoration: underline;
  }
  .quest {
    font-size: 1.5em;
  }
}
.endtext{
    font-size: 2.5em;
    display: flex;
    //height: 50%;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    animation: opacityoff 2s forwards;
    animation-delay: 2s;
    opacity: 0;
    justify-content: space-around;
    padding: .5em;
    margin-bottom: 0em;
}
.maximum {
    font-size: 1em;
    display: flex;
    //height: 50%;
    align-items: center;
    flex-direction: column;
    animation: opacityoff 2s forwards;
    animation-delay: 2s;
    opacity: 0;
    justify-content: space-around;
    padding-top: 0;
    padding: .5em;
    margin-bottom:2em;
    overflow-x: hidden;
}
.HistoryAnswers {
  display: none;
  overflow-y: scroll;
  height: 20em ;
  margin-bottom: 1em !important;
   scrollbar-width: thin;
    scrollbar-color: #4caf50 #222;
}


.aurora {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    background: radial-gradient(
      circle,
      rgba(112, 183, 120, 0.2) 0%,
      rgba(41, 74, 50, 0.02) 85%
    );
    animation: aurora-animation 10s ease-in-out infinite alternate;
    filter: blur(100px);
    opacity: 1;
  }
  
  .aurora:nth-child(2) {
    animation-duration: 12s;
    animation-delay: -3s;
  }
  
  .aurora:nth-child(3) {
    animation-duration: 11s;
    animation-delay: -5s;
  }
  
  
  
  .stars {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
} 